<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <select id="projects"></select>

</body>
</html>

<select>
    <option value="i-gamingstudio-com"> i-gamingstudio.com</option>
    <option value="ptc-2016-mvc"> PTC 2016 - MVC</option>
    <option value="microns">20 Microns</option>
    <option value="ci-com">21ci.com</option>
    <option value="array">7 Array</option>
    <option value="links">9 Links</option>
    <option value="aarya">Aarya</option>
    <option value="abp-news-contact-directory">ABP News - Contact Directory</option>
    <option value="adhaar-dise-child-tracking-system-www-ssagujarat-org">Adhaar dise Child Tracking System (www.ssagujarat.org)</option>
    <option value="adit-e-circular">Adit E-Circular</option>
    <option value="adit-forum">Adit Forum</option>
    <option value="adit-microsys-australia">Adit Microsys - Australia</option>
    <option value="adit-australia-seo">Adit Australia SEO</option>
    <option value="adit-microsys-cricket-team">Adit Microsys Cricket Team</option>
    <option value="adit-test">Adit Test</option>
    <option value="aditmicrosys-com">Aditmicrosys.com</option>
    <option value="adit-intranet">Adit Intranet</option>
    <option value="blog-aditmicrosys-com">blog.aditmicrosys.com</option>
    <option value="recruitment-module">Recruitment Module</option>
    <option value="revamping-of-aditmicrosys-com">Revamping of aditmicrosys.com</option>
    <option value="advance-addmine-pvt-ltd">Advance Addmine Pvt. Ltd.</option>
    <option value="aerodeep-healhcare">Aerodeep Healhcare</option>
    <option value="agastya-nutrifood">AGASTYA NUTRIFOOD</option>
    <option value="agati-healthcare-pvt-ltd">Agati Healthcare Pvt Ltd</option>
    <option value="agile-development-meeting">Agile Development Meeting</option>
    <option value="aimprizz">Aimprizz</option>
    <option value="aiomda">aiomda</option>
    <option value="akshaya-patra-food-charity">Akshaya-Patra-Food-Charity </option>
    <option value="alkali-foods">Alkali Foods</option>
    <option value="alkalinesuperfoods-com-au-mock-ups">alkalinesuperfoods.com.au (Mock-Ups)</option>
    <option value="alumni">Alumni</option>
    <option value="ambuja-group">Ambuja Group</option>
    <option value="amc-projects-2017-18">AMC Projects 2017-18</option>
    <option value="amc-school">AMC School Board (AMC)</option>
    <option value="dps-asansol-amc">DPS Asansol (AMC)</option>
    <option value="dps">DPS Gandhinagar (AMC)</option>
    <option value="gajanand-foods-amc-2017-18">Gajanand Foods (AMC)</option>
    <option value="gpsc-amc">GPSC (AMC)</option>
    <option value="icemake-india-amc">IceMake India (AMC)</option>
    <option value="khyati-foundation-amc">Khyati Foundation (AMC)</option>
    <option value="khyati-ninos-amc">Khyati Ninos (AMC)</option>
    <option value="midft-amc">MIDFT (AMC)</option>
    <option value="sdis-edu-in">sdis.edu.in (AMC)</option>
    <option value="universal-medicap-amc">Universal Medicap (AMC)</option>
    <option value="vibration-music-amc">Vibration Music (AMC)</option>
    <option value="ymcaclub">YMCA Club (AMC)</option>
    <option value="amco-bank">amco-bank</option>
    <option value="amideep-pharmaceuticals">Amideep Pharmaceuticals</option>
    <option value="amulnutrition-com">amulnutrition.com</option>
    <option value="anand-hospital">Anand Hospital</option>
    <option value="anil-associates">Anil Associates</option>
    <option value="anjani-granite">Anjani Granite</option>
    <option value="ankur-group">Ankur Group</option>
    <option value="anti-money-laundering">Anti Money Laundering </option>
    <option value="apptoza-wordpress">Apptoza ( Wordpress )</option>
    <option value="archonengicon-com">archonengicon.com</option>
    <option value="argus-optics">Argus Optics</option>
    <option value="aromapump-com">aromapump.com</option>
    <option value="arritra">Arritra</option>
    <option value="arya-samaj-address-boo">Arya Samaj - Address Book</option>
    <option value="ascentinfoware-com">ascentinfoware.com</option>
    <option value="assistant-manager">Assistant Manager</option>
    <option value="atd-and-finearts">ATD and FineArts</option>
    <option value="atman-solutions-pvt-ltd">ATMAN Solutions Pvt. Ltd</option>
    <option value="atmansol-com">atmansol.com</option>
    <option value="auction-portal">Auction Portal</option>
    <option value="avenuesoverseas-in">avenuesoverseas.in</option>
    <option value="avivasysbio">Avivasysbio</option>
    <option value="b2b-and-b2c-e-commerce-portal">B2B and B2C E-commerce Portal</option>
    <option value="b2b_b2c-mobile-application">b2b_b2c mobile application</option>
    <option value="balkrishna-textile-www-bkt-co-in">Balkrishna Textile (www.bkt.co.in)</option>
    <option value="baloon-burst">Baloon Burst</option>
    <option value="barcode-grn-and-traceability">Barcode GRN and Traceability</option>
    <option value="be-corporation">Be Corporation</option>
    <option value="beauty-and-saloon-mobile-app">Beauty and Saloon Mobile App</option>
    <option value="beyoung">BeYoung</option>
    <option value="bhansali-value-creations">Bhansali Value Creations</option>
    <option value="bharat-refrigerations">BHARAT REFRIGERATIONS</option>
    <option value="bhavnagar-area-development-association">Bhavnagar Area Development Association</option>
    <option value="bigb-fan-clubs">BigB Fan Clubs</option>
    <option value="biocare-cms">Biocare - CMS</option>
    <option value="biocare-laboratories">Biocare Laboratories</option>
    <option value="black-poison-tattoos-studio-academy">Black Poison Tattoos Studio Academy</option>
    <option value="blind-people-association">Blind People Association</option>
    <option value="block-mis-deo">Block MIS &amp; DEO</option>
    <option value="block-resource-person">Block Resource Person (BRP)</option>
    <option value="brc-crc-urc-2017">BRC- CRC - URC 2017</option>
    <option value="bodal-chemicals">Bodal Chemicals</option>
    <option value="bookmymad">Book Your Med</option>
    <option value="boxoffice">Boxoffice</option>
    <option value="bright-hospitality">Bright Hospitality</option>
    <option value="brukem-lifecare">Brukem Lifecare</option>
    <option value="business-directory">Business Directory</option>
    <option value="business-navigator">Business Navigator</option>
    <option value="business-nevigator-laravel">Business Nevigator Laravel</option>
    <option value="canpac">Canpac</option>
    <option value="center-of-excellence">Center of Excellence</option>
    <option value="centreforkneesugery-com">centreforkneesugery.com</option>
    <option value="cheguj-recruitment">Cheguj recruitment</option>
    <option value="adhyapak-recruitment">Adhyapak Recruitment</option>
    <option value="contractual-vyakhyata-sahayak-recruitment-for-govt-colleges-2014-15">Contractual Vyakhyata Sahayak recruitment for Govt. colleges 2014-15</option>
    <option value="phase-2-contractual-vyakhyata-sahayak-recruitment-for-govt-colleges-2014-15">Phase 2 Contractual Vyakhyata Sahayak recruitment for Govt. colleges 2014-15</option>
    <option value="principal-recruitment">Principal Recruitment</option>
    <option value="chemet-chemicals">Chemet Chemicals</option>
    <option value="chempro-pharma">Chempro Pharma</option>
    <option value="revamping-of-chempro-pharma">Revamping of Chempro Pharma</option>
    <option value="children-university">Children University</option>
    <option value="engagement-application">Chokshi &amp; Chokshi (Client Engagement Management)</option>
    <option value="cisco">CISCO</option>
    <option value="civil-supply-inventory-www-gscscl-com">Civil supply-Inventory (www.gscscl.com)</option>
    <option value="classic-builder">Classic Builder</option>
    <option value="client-support-developer-support-other-support">Client Support /option>
    <option value="clothing-store">Clothing Store</option>
    <option value="club-golf-27-wordpress">Club Golf 27 ( Wordpress )</option>
    <option value="cmkanyakelavni">cmkanyakelavni</option>
    <option value="coding-library-net">Coding Library &amp; Sample Application - .Net</option>
    <option value="coding-library-sample-application-ios">Coding Library &amp; Sample Application - IOS</option>
    <option value="comely">COMELY</option>
    <option value="comely-mobile-application">Comely - Mobile Application</option>
    <option value="comfort-sight-397-hrs">Comfort Sight (397 hrs)</option>
    <option value="commissioner-of-cottage-rural-industries">Commissioner of Cottage &amp; Rural Industries</option>
    <option value="commissionerate-of-technical-education">Commissionerate of Technical Education</option>
    <option value="contact-management-system">Contact Management System</option>
    <option value="contractual-vyakhyata-sahayak-recruitment-for-govt-colleges-2016-17">Contractual Vyakhyata Sahayak recruitment for Govt. colleges 2016-17</option>
    <option value="corporate-site">Corporate Site</option>
    <option value="cos-class-room">COS Class Room</option>
    <option value="cos-classroom-application-2017">COS Classroom application 2017</option>
    <option value="cos-higher-secondary-jan-2017-grant-in-aid-shikshan-sahayak">COS Higher Secondary Jan 2017 (Grant-In-Aid Shikshan sahayak)</option>
    <option value="cos-incentive-scheme">COS Incentive Scheme</option>
    <option value="cos-non-grant-in-aid-new-teacher-old-teacher-recruitment">COS Non Grant in Aid, New teacher/option>
    <option value="cos-secondary-jan-2017-grant-in-aid-shikshan-sahayak">COS Secondary Jan 2017 (Grant-In-Aid Shikshan sahayak)</option>
    <option value="cos-secondary-shikshan-sahayak-recruitment-aug-2014">COS Secondary Shikshan Sahayak Recruitment, Aug 2014</option>
    <option value="cos-shikshan-sahayak-recruitment-grant-in-aid-gujarati-medium-july-2014">COS Shikshan Sahayak Recruitment, Grant in Aid- Gujarati Medium, July 2014</option>
    <option value="cos-teacher-recruitment-www-gserb-org">COS- Teacher Recruitment (www.gserb.org)</option>
    <option value="cosmos-castle">Cosmos Castle</option>
    <option value="cravings">Cravings</option>
    <option value="crc-april2017">CRC - April2017</option>
    <option value="crc-monitoring-www-ssagujarat-org">CRC Monitoring (www.ssagujarat.org)</option>
    <option value="ctd-oracle-implementation">CTD Oracle implementation</option>
    <option value="curry-leaf">Curry Leaf</option>
    <option value="cx-lounge">CX Lounge</option>
    <option value="daman-nic-in">daman.nic.in</option>
    <option value="dat-http-aditonline-com-dat">dat (http:/option>
    <option value="dat-department-website">DAT department website</option>
    <option value="data-nook">Data Nook</option>
    <option value="data-research">Data Research</option>
    <option value="angel-co">angel.co</option>
    <option value="data-com">Data.com</option>
    <option value="google">Google</option>
    <option value="linkedin">Linkedin</option>
    <option value="manta">Manta</option>
    <option value="yahoo-local">Yahoo Local</option>
    <option value="yelp">Yelp</option>
    <option value="zoominfo">Zoominfo</option>
    <option value="dca-wallet-mobile-app">DCA Wallet Mobile App</option>
    <option value="deck9">Deck9</option>
    <option value="deendayal-institute-of-survey-and-revenue-administration-disra-portal">Deendayal Institute of Survey and Revenue Administration (DISRA)- Portal</option>
    <option value="delta-global-incorporated">Delta Global Incorporated</option>
    <option value="demo-server">Demo Server</option>
    <option value="dent-s-den">Dent's Den</option>
    <option value="detgujarat-org">detgujarat.org</option>
    <option value="dewh2o">dewh2o</option>
    <option value="diagrams-ba">Diagrams - BA</option>
    <option value="digi-locker">Digi Locker</option>
    <option value="director-general-of-police-and-the-chief-of-police">Director General of Police and the Chief of Police</option>
    <option value="district-mineral-foundation-dmf">District Mineral Foundation (DMF)</option>
    <option value="divine-solutions">Divine Solutions</option>
    <option value="dr-ashish-nagpal">Dr. Ashish Nagpal</option>
    <option value="e-auctionizer-wordpress">E-Auctionizer ( Wordpress )</option>
    <option value="e-content-std-5-to-8-ssa">E-Content STD 5 to 8 (SSA)</option>
    <option value="earthgold">Earthgold</option>
    <option value="easy-life">Easy Life</option>
    <option value="easy-life-android">Easy Life Android</option>
    <option value="easy-life-blog">Easy Life Blog</option>
    <option value="easy-life-iphone">Easy Life iPhone</option>
    <option value="easylife-mobile-app">Easylife Mobile App</option>
    <option value="ecopack">ecopack</option>
    <option value="ecorightbags-com">ecorightbags.com</option>
    <option value="edudas-1020hrs">Edudas (1020Hrs)</option>
    <option value="egyan-org-in">egyan.org.in</option>
    <option value="einfochips-com">einfochips.com</option>
    <option value="election-commission">Election Commission</option>
    <option value="booth-level-officer-blo">Booth Level Officer - BLO</option>
    <option value="electoral-registration-officers-revision-of-electoral-rolls">Electoral Registration Officers – Revision of Electoral Rolls</option>
    <option value="police-personnel">Police Personnel</option>
    <option value="returning-officer">Returning Officer - RO</option>
    <option value="emc">EMC</option>
    <option value="energy-and-petrochemical-department">Energy and Petrochemical Department</option>
    <option value="english-grammar">English Grammar</option>
    <option value="environengg-com">environengg.com</option>
    <option value="erp-infosys">ERP Infosys</option>
    <option value="essense-of-africa">ESSENSE OF AFRICA</option>
    <option value="examiner-finance">Examiner Finance</option>
    <option value="extraship">Extraship</option>
    <option value="feature-list-ba">Feature List - BA</option>
    <option value="feilds-ir">Feilds IR</option>
    <option value="fermos-engineering">Fermos Engineering</option>
    <option value="flamingotraders-in">flamingotraders.in</option>
    <option value="fortvin-com">fortvin.com</option>
    <option value="frc-primary">FRC Primary</option>
    <option value="g-tech-agro-infrastructures">G-Tech Agro Infrastructures&nbsp;</option>
    <option value="gad-e-content">GAD (e-Content)</option>
    <option value="gau-daan">Gau Daan</option>
    <option value="gayatrimicrons-com">gayatrimicrons.com</option>
    <option value="gelsons-corporate">gelsons-corporate</option>
    <option value="gidb">GIDB</option>
    <option value="gidc">GIDC</option>
    <option value="gidc-mobile-app">GIDC Mobile app</option>
    <option value="gidc-mobile-app-final">GIDC Mobile App (3 applications)</option>
    <option value="gidc-mobile-application">GIDC Mobile Application</option>
    <option value="revamping-of-gidc-website">Revamping of GIDC Website</option>
    <option value="gidc-tender-management-system">GIDC-Tender Management System</option>
    <option value="gidr">GIDR</option>
    <option value="giridhar-techfab">GIRIDHAR TECHFAB</option>
    <option value="girnargroup-com">girnargroup.com</option>
    <option value="gist-gujarat-information-of-sports-and-training">GIST - Gujarat Information of Sports and Training</option>
    <option value="global-power-equipment-fze">Global Power Equipment FZE</option>
    <option value="gglobeldropship">Globeldropship</option>
    <option value="globeseal">Globeseal (PHP)</option>
    <option value="gnlu">Gnlu</option>
    <option value="gomzi-s-tiffin-service">Gomzi’s tiffin service</option>
    <option value="gomzys">gomzys</option>
    <option value="gomzy-mobile-application">Gomzy Mobile Application</option>
    <option value="gotripology-com-638-hrs">GoTripology.com (638 hrs)</option>
    <option value="government-engineering-college">Government Engineering College</option>
    <option value="gpsc-gujarat-gov-in">gpsc.gujarat.gov.in</option>
    <option value="gpsc-new-website">GPSC New Website</option>
    <option value="green-obazaar">Green obazaar</option>
    <option value="groupcng">GroupCNG</option>
    <option value="gsbstb-distributor-module">GSBSTB - Distributor Module</option>
    <option value="gscdc-application">GSCDC Application </option>
    <option value="gters-cte-portal-13-317-hrs">Gters (CTE Portal) (13,317 hrs)</option>
    <option value="admission-cte">Admission - CTE</option>
    <option value="coe">COE</option>
    <option value="college-portal-cte-portal">College Portal (CTE Portal)</option>
    <option value="cte-web">CTE WEB</option>
    <option value="gters-frc-cte-portal">Gters FRC (CTE Portal)</option>
    <option value="gters-kyc-cte-portal">Gters KYC (CTE Portal)</option>
    <option value="gudc-mobile-app">GUDC Mobile App</option>
    <option value="gujarat-info-petro-limited-gipl">Gujarat Info Petro Limited (GIPL )</option>
    <option value="gujarat-informatics-limited">Gujarat Informatics Limited</option>
    <option value="gujarat-metro-rail-http-www-gujaratmetrorail-com">Gujarat Metro Rail - http:/option>
    <option value="gujarat-pollution-control-board">Gujarat Pollution Control Board</option>
    <option value="gujarat-science-city">Gujarat Science City</option>
    <option value="gujarat-state-commission-for-protection-of-child-rights">Gujarat State Commission for Protection of Child Rights</option>
    <option value="gujarat-university">Gujarat University</option>
    <option value="gujarat-urban-development-corporation">Gujarat Urban Development Corporation</option>
    <option value="gunotsav-assam">Gunotsav Assam</option>
    <option value="revamping-of-gunotsav">GUNOTSAV Gujarat 2016</option>
    <option value="/option>
    <option value="gyankunj">Gyankunj</option>
    <option value="handover-activity">Handover Activity</option>
    <option value="hca-reciprocal-rights-server">HCA Reciprocal Rights Server</option>
    <option value="healthclubsaust">healthclubsaust</option>
    <option value="herbcreations-com">herbcreations.com</option>
    <option value="harb-creations">Harb Creations</option>
    <option value="http-hhecu-org">hhecu.org</option>
    <option value="hhecu-cms">HHECU CMS</option>
    <option value="highly">Highly</option>
    <option value="hms-contractor-portal">HMS Contractor Portal</option>
    <option value="home-guard">Home Guard</option>
    <option value="horizons-developers">Horizons Developers</option>
    <option value="hotel-samrat">Hotel Samrat</option>
    <option value="house-of-mg">House of MG</option>
    <option value="how-to-use-redmine">How to use Redmine</option>
    <option value="hr-activity-2017-18">HR Activity 2017-18</option>
    <option value="hr-management-mobile-app">HR Management Mobile App</option>
    <option value="http-iahv-org-uk">http://iahv.org.uk</option>
    <option value="http-kclindia-com">http://kclindia.com/</option>
    <option value="http-khyatimultimedia-com">http://khyatimultimedia.com/</option>
    <option value="http-niravindustries-com">http://niravindustries.com/</option>
    <option value="http-plasticcarrybag-com">http://plasticcarrybag.com/</option>
    <option value="http-rhombuscanvas-com">http://rhombuscanvas.com/</option>
    <option value="http-sspa-gujarat-gov-in">http://sspa.gujarat.gov.in/</option>
    <option value="http-tapovan-ac-in">http://tapovan.ac.in/</option>
    <option value="http-tribal-gujarat-gov-in">http://tribal.gujarat.gov.in/</option>
    <option value="http-vettipuzha-com">http://vettipuzha.com/</option>
    <option value="http-www-abclumiled-com">http://www.abclumiled.com/</option>
    <option value="http-www-aemsindia-com">http://www.aemsindia.com/</option>
    <option value="http-www-becl-in">http://www.becl.in/</option>
    <option value="http-www-ced-gujarat-gov-in">http://www.ced.gujarat.gov.in/</option>
    <option value="http-www-chillingplants-com">http://www.chillingplants.com/</option>
    <option value="http-www-colorantindia-com">http://www.colorantindia.com/</option>
    <option value="http-www-giicindia-org">http://www.giicindia.org</option>
    <option value="http-www-globalchemie-co-in">http://www.globalchemie.co.in/</option>
    <option value="http-www-home-gujarat-gov-in">http://www.home.gujarat.gov.in</option>
    <option value="http-www-kclindia-com">http://www.kclindia.com/</option>
    <option value="http-www-komoline-com">http://www.komoline.com/</option>
    <option value="http-www-madhusilica-com">http://www.madhusilica.com</option>
    <option value="http-www-mindarraysystems-com">http://www.mindarraysystems.com/</option>
    <option value="http-www-motelthevillage-com">http://www.motelthevillage.com/</option>
    <option value="http-www-oxyzenfin-co-in">http://www.oxyzenfin.co.in/</option>
    <option value="http-www-pestimadegujarat-com">http://www.pestimadegujarat.com/</option>
    <option value="http-www-police-gujarat-gov-in">http://www.police.gujarat.gov.in</option>
    <option value="http-www-rushienterprise-com">http://www.rushienterprise.com/</option>
    <option value="http-www-tamboli-in">http://www.tamboli.in/</option>
    <option value="idhayamusa-com">idhayamusa.com</option>
    <option value="idle-2017-18">Idle 2017-18</option>
    <option value="iffco">IFFCO</option>
    <option value="iimtstudies-edu-in">iimtstudies.edu.in </option>
    <option value="imagino">Imagino</option>
    <option value="imago-laravel">Imago (Laravel)</option>
    <option value="imci-gujarat">IMCI Gujarat</option>
    <option value="indent-system-textbook-board">Indent System (Textbook Board)</option>
    <option value="indext-c-industrial-extension-cottage">iNDEXT-c Industrial Extension Cottage</option>
    <option value="indoair-responsive">IndoAir Responsive</option>
    <option value="industries-commissionerate">Industries Commissionerate</option>
    <option value="information-and-broadcasting-department">Information and Broadcasting Department</option>
    <option value="innovo">Innovo</option>
    <option value="insurance-department-website">Insurance department website</option>
    <option value="insurance-finance-http-aditonline-com-financeinsurance">Insurance-Finance (http:/option>
    <option value="intech-systems">Intech-Systems</option>
    <option value="interns">Interns</option>
    <option value="interns-training">Interns Training</option>
    <option value="inventindia-com">inventindia.com</option>
    <option value="ipsit-project">Ipsit Project</option>
    <option value="ipsit-php">Ipsit PHP</option>
    <option value="www-itnlindia-com">itnlindia.com</option>
    <option value="iyocul-425-hrs">iYocul (425 hrs)</option>
    <option value="jairadhesales-co-in">jairadhesales.co.in</option>
    <option value="jamnagar-municipal-corporation">Jamnagar Municipal Corporation</option>
    <option value="jasonwedsdisha">Jasonwedsdisha</option>
    <option value="jeksonvision-com">jeksonvision.com</option>
    <option value="jivraj-mehta-hospital">Jivraj Mehta Hospital</option>
    <option value="jublee">Jublee</option>
    <option value="jyoti-automation">Jyoti Automation</option>
    <option value="kanan-tax-solutions">Kanan Tax Solutions</option>
    <option value="karun-technical">Karun Technical</option>
    <option value="kavaj-ios-application">Kavaj-IOS Application</option>
    <option value="kcg-recuitment-2016">KCG recuitment 2016</option>
    <option value="kenjailaw-immigration-service">Kenjailaw Immigration Service</option>
    <option value="khaitan-legal-associates">Khaitan Legal Associates</option>
    <option value="khel-maha-kumbh">Khel Maha Kumbh</option>
    <option value="khel-maha-kumbh-mobile-application">Khel Maha Kumbh Mobile Application</option>
    <option value="khyati-institute-of-design">Khyati Institute of Design</option>
    <option value="kidsoutdoorplayequipment-com-au">kidsoutdoorplayequipment.com.au</option>
    <option value="kitchenmagic1947">kitchenmagic1947</option>
    <option value="kj-exports">KJ Exports</option>
    <option value="klays-admin-portal">klays admin portal</option>
    <option value="komalay">Komalay</option>
    <option value="kothari-cab">Kothari Cab</option>
    <option value="kps-group">KPS Group</option>
    <option value="kyc-che">KYC-CHE</option>
    <option value="la-leela-erp-system">La Leela ERP System</option>
    <option value="labour-welfare-board">Labour Welfare Board</option>
    <option value="lakshsolar-com">lakshsolar.com</option>
    <option value="laleela">Laleela</option>
    <option value="landmark-group">Landmark Group</option>
    <option value="laxmi-optician">Laxmi Optician</option>
    <option value="leave-2017-18">Leave 2017-18</option>
    <option value="lincon-polymer">Lincon Polymer</option>
    <option value="live-wallpaper-android">Live Wallpaper Android</option>
    <option value="lyncbiz">LyncBiz</option>
    <option value="m-b-trading">M&amp;B Trading </option>
    <option value="mahila-samakhya-gujarat">Mahila Samakhya Gujarat</option>
    <option value="management">Management</option>
    <option value="manidhar-consultant">Manidhar Consultant</option>
    <option value="marine-bioresource-centre-mbrc">Marine BioResource centre (MBRC)</option>
    <option value="mas-finance-custody-module">Mas Finance Custody Module</option>
    <option value="max-energy-care">Max Energy Care</option>
    <option value="medisky">Medisky</option>
    <option value="meditree-india">Meditree India</option>
    <option value="meeting">Meeting</option>
    <option value="mega-stitch">Mega-Stitch</option>
    <option value="meghmani-com">meghmani.com</option>
    <option value="ka">Mehfil Mastee</option>
    <option value="memory-max">Memory Max</option>
    <option value="mewar-polytex">Mewar Polytex</option>
    <option value="microlink-co-in">microlink.co.in</option>
    <option value="mid-day-meal">Mid Day Meal</option>
    <option value="mid-day-meal-home-page-designing">Mid Day Meal Home page designing</option>
    <option value="midas">Midas</option>
    <option value="midasmetcons-com">midasmetcons.com</option>
    <option value="midft">MIDFT</option>
    <option value="migration-monitoring-system-www-ssagujarat-org">Migration Monitoring System (www.ssagujarat.org)</option>
    <option value="mis-cte">MIS CTE </option>
    <option value="mis-extension-for-ced">MIS Extension for CED</option>
    <option value="mmcc-indoor-navigation">MMCC indoor navigation.</option>
    <option value="mnmshares-com">mnmshares.com</option>
    <option value="mobile-apps">Mobile Apps</option>
    <option value="modern-food-products">Modern Food Products</option>
    <option value="module-university">Modul University</option>
    <option value="morbi-wankaner-urban-development">Morbi Wankaner Urban Development</option>
    <option value="morever">Morever.in</option>
    <option value="morever-in-qc">morever.in QC</option>
    <option value="motadata-poc">Motadata POC</option>
    <option value="bhel">BHEL</option>
    <option value="biologicale">BiologicalE</option>
    <option value="bluedart">BlueDart</option>
    <option value="caresoft-global">Caresoft Global</option>
    <option value="deepak-fertilizers">Deepak Fertilizers</option>
    <option value="gateway-rail">Gateway Rail</option>
    <option value="gujarat-gas">Gujarat Gas</option>
    <option value="kbl-bartakke-kirloskar-brothers-ltd">KBL(Bartakke Kirloskar Brothers Ltd)</option>
    <option value="kribhco">Kribhco</option>
    <option value="mondo-automative-skylark-info">Mondo Automative(Skylark Info)</option>
    <option value="parle-agro">Parle Agro</option>
    <option value="pi-industries">PI Industries</option>
    <option value="pmc-bank">PMC Bank</option>
    <option value="saurastra-cement">Saurastra Cement</option>
    <option value="mr-chen-e-commerce">Mr. Chen (E-Commerce)</option>
    <option value="mr-chens">Mr.Chens</option>
    <option value="mrias">MRIAS</option>
    <option value="multiversity">Multiversity</option>
    <option value="muzaffar-furniture">Muzaffar Furniture</option>
    <option value="mv-omni">MV Omni</option>
    <option value="mvision-projects">Mvision Projects</option>
    <option value="mymandi">Mymandi</option>
    <option value="nagsa-group">Nagsa Group</option>
    <option value="narayani-holiday-club">Narayani Holiday Club</option>
    <option value="navkar-aata-maker">Navkar Aata Maker</option>
    <option value="navkardirect-com">navkardirect.com</option>
    <option value="nectar-juice-and-beverages">Nectar Juice and Beverages</option>
    <option value="neeraj-pathak">Neeraj Pathak</option>
    <option value="nikhil-enterprise">Nikhil Enterprise</option>
    <option value="nims-hospital">NIMS Hospital</option>
    <option value="norquest-order-management">Norquest Order Management</option>
    <option value="nyu-demo">NYU Demo</option>
    <option value="dental-prectice-mgt">Odentoclik (PHP)</option>
    <option value="odontoclik-tele-transmission-java">Odontoclik - Tele Transmission (JAVA)</option>
    <option value="offbeattracks-us">offbeattracks.us</option>
    <option value="office-of-the-charity-commissioner">Office of the Charity Commissioner</option>
    <option value="olive-infotech-admin-panel">Olive Infotech - Admin Panel</option>
    <option value="oman-gas">OMAN GAS</option>
    <option value="omkar-sampraday-www-omkarsampraday-com">Omkar Sampraday (www.omkarsampraday.com)</option>
    <option value="oracle-website">Oracle Website </option>
    <option value="oswal-foundry">Oswal Foundry</option>
    <option value="oxsight-wordpress">oxsight ( Wordpress)</option>
    <option value="oxygen-finance">Oxygen Finance</option>
    <option value="packersmoversplanet-com">packersmoversplanet.com</option>
    <option value="panini-kanya-gurukul-varanasi">Panini Kanya Gurukul Varanasi</option>
    <option value="paratroopers">Paratroopers</option>
    <option value="pathfinders-holidays">Pathfinders Holidays</option>
    <option value="pay4youonline-com">pay4youonline.com</option>
    <option value="payfast">PayFast</option>
    <option value="payfast-mobile-application">PayFast Mobile Application</option>
    <option value="payroll-management">Payroll Management</option>
    <option value="pdf-editing">PDF Editing</option>
    <option value="peeple">peeple</option>
    <option value="php-library">PHP Library</option>
    <option value="laravel-cms">Laravel CMS</option>
    <option value="picos">picos</option>
    <option value="pima-controls">Pima Controls</option>
    <option value="platinum">Platinum</option>
    <option value="play-poker">Play Poker</option>
    <option value="poker-joker-saga-game">Poker Joker SAGA - Game</option>
    <option value="pootv">PooTV</option>
    <option value="revamp-of-prakshal">PRAKSHAL (Revamping)</option>
    <option value="pre-sales">Pre-Sales</option>
    <option value="gst-cyber-safety-demo">GST - Cyber Safety Demo</option>
    <option value="home-department-demo-presentation">Home Department (Demo Presentation)</option>
    <option value="premiermillstores-com">premiermillstores.com</option>
    <option value="printvision-in">printvision.in</option>
    <option value="probodha-portal">Probodha Portal</option>
    <option value="project-executive">Project Executive</option>
    <option value="proposal-scope-document">Proposal/option>
    <option value="provident-fund-finance-department">Provident Fund Finance department</option>
    <option value="psmanagement-co-in">psmanagement.co.in</option>
    <option value="ptc">PTC</option>
    <option value="ptc-june-2017">PTC-June 2017</option>
    <option value="pujya-bhaishri-rameshbhai-oza-society-of-education-www-pbrose-ac-in">PUJYA BHAISHRI RAMESHBHAI OZA SOCIETY OF EDUCATION - www.pbrose.ac.in/option>
    <option value="rajasthan-hospitals">Rajasthan Hospitals</option>
    <option value="rajkot-uda">Rajkot UDA</option>
    <option value="rama-gum-industries">Rama Gum Industries</option>
    <option value="rama-handicrafts-227-hrs">Rama Handicrafts (227 hrs)</option>
    <option value="ramway-co-ltd">Ramway Co.Ltd.</option>
    <option value="rare-brilinace">Rare Brilliance </option>
    <option value="rashtriya-swasthya-bima-yojana-rsby">Rashtriya Swasthya Bima Yojana (RSBY)</option>
    <option value="rathi-hospital">Rathi Hospital</option>
    <option value="real-namkeen">Real Namkeen</option>
    <option value="recipes-portal">Recipes Portal</option>
    <option value="red-flag-apparel-park">Red Flag Apparel Park</option>
    <option value="redmin-custmization">Redmine customization</option>
    <option value="retails-pharma-wordpress">Retails Pharma (Wordpress)</option>
    <option value="retina-foundation">Retina Foundation</option>
    <option value="revamp-of-adit-australia">Revamp of Adit Australia</option>
    <option value="revamping-of-gudcltd">Revamping of GUDCLTD</option>
    <option value="right-to-education">Right To Education</option>
    <option value="mist">RightTap</option>
    <option value="mist-mobile-application">RightTap Mobile Application</option>
    <option value="rsma">RMSA</option>
    <option value="rmsa-dec-2015">RMSA Dec-2015</option>
    <option value="rmsa-may-2016">RMSA May - 2016</option>
    <option value="roulette-game">Roulette Game</option>
    <option value="royal-thai-spa">Royal Thai Spa</option>
    <option value="rutuautogas">rutuautogas</option>
    <option value="safex-tradebuzz">Safex Tradebuzz</option>
    <option value="sakar-healthcare">Sakar Healthcare</option>
    <option value="sambhaav-news">Sambhaav News</option>
    <option value="sap-mobility">SAP Mobility</option>
    <option value="sarvam">Sarvam</option>
    <option value="sbi-e-circular-browser-bases-application-with-admin-panel">SBI e-Circular Browser Based Application with Admin panel</option>
    <option value="sbi-foundation">SBI Foundation</option>
    <option value="sbi-gamification">SBI Gamification</option>
    <option value="freeflow-game">FreeFlow Game</option>
    <option value="memory-game">Memory Game</option>
    <option value="roulette-game2">Roulette Game</option>
    <option value="sbi-gamification-php">SBI Gamification PHP</option>
    <option value="sbi-marketing-communication-department">SBI Marketing &amp; Communication Department </option>
    <option value="sbi-treasury">SBI Treasury</option>
    <option value="sbi-document-mobile-app">SBI-Document Mobile App</option>
    <option value="sbi-kyc-demo">SBI-KYC Demo</option>
    <option value="sbp-academy">SBP Academy</option>
    <option value="scope-proposal-document-ba">Scope /option>
    <option value="secondary-gunotsav">Secondary Gunotsav </option>
    <option value="seemaskinclinic-com">seemaskinclinic.com</option>
    <option value="senes-consulting-wordpress">Senes Consulting (Wordpress)</option>
    <option value="sgbrrb-org">sgbrrb.org</option>
    <option value="shah-interiors">Shah Interiors</option>
    <option value="shahalloys-com">shahalloys.com/option>
    <option value="shashinconstruction-com">shashinconstruction.com</option>
    <option value="shital-rubber">shital rubber</option>
    <option value="shobha-sales">Shobha Sales</option>
    <option value="shopify-portal">Shopify Portal</option>
    <option value="shopping-portal-demo">Shopping Portal Demo</option>
    <option value="shopping-snap">Shopping Snap</option>
    <option value="shree-balaji-project-and-consultant">Shree Balaji Project and Consultant</option>
    <option value="revamping-of-sbpc">Revamping of SBPC</option>
    <option value="shree-shakti-engg-works">SHREE SHAKTI ENGG WORKS</option>
    <option value="shrisaibabasansthan-org">shrisaibabasansthan.org</option>
    <option value="shutter-stock">Shutter Stock </option>
    <option value="sintex-sms-management-system">Sintex SMS Management System</option>
    <option value="sitc-saurastra-aviation">SITC Saurastra Aviation</option>
    <option value="slgdvaa-website">Slgdvaa Website</option>
    <option value="slots">Slots</option>
    <option value="smart-mumbai">Smart Mumbai</option>
    <option value="smile-khakhra">Smile Khakhra</option>
    <option value="snack-catcher">Snake Catcher - Raptor</option>
    <option value="reptor-mobile-application">Raptor - Mobile Application</option>
    <option value="snapcuff">SnapCuff</option>
    <option value="social-networking">SOCIAL NETWORKING</option>
    <option value="yyary-android-mobile-application">yyary (Android Mobile application)</option>
    <option value="yyary-ios-mobile-application">yyary (IOS Mobile application)</option>
    <option value="sophos">Sophos</option>
    <option value="sp-chem-inc">SP CHEM INC</option>
    <option value="special-training-www-ssagujarat-org">Special Training (www.ssagujarat.org)</option>
    <option value="general-administration-department">SPIPA</option>
    <option value="atvt">ATVT</option>
    <option value="basic-computer">Basic Computer</option>
    <option value="ecological-concepts">Ecological Concepts</option>
    <option value="gujarat-civil-services-conduct-rules_1971">Gujarat Civil Services (Conduct) Rules_1971&nbsp;</option>
    <option value="gujarat-state-service-shishta-appeal-rule-1971">Gujarat State Service (shishta Appeal) Rule-1971</option>
    <option value="gujarat-tenancy-act-revenue-department">Gujarat Tenancy ACT Revenue Department</option>
    <option value="how-to-write-judgement">How to write Judgement&nbsp;</option>
    <option value="kutch-gharkhed">Kutch Gharkhed</option>
    <option value="ms-excel-2010-e-learning-module">MS Excel 2010 - E-Learning Module</option>
    <option value="ms-powerpoint-2010-e-learning-module">MS Powerpoint 2010 - E-Learning Module</option>
    <option value="ms-word-2010-e-learning-module">MS Word 2010 - E-Learning Module</option>
    <option value="nps-new-pension-scheme">NPS - New Pension Scheme</option>
    <option value="rcps-act">RCPS ACT</option>
    <option value="sports-authority-of-gujarat-wordpress">Sports Authority of Gujarat(Wordpress)</option>
    <option value="sports-authority-of-gujarat">Sports Authority of Gujarat(Wordpress)</option>
    <option value="srx-application">SRX Application</option>
    <option value="ssa-kgvb">SSA - KGBV</option>
    <option value="kgbv-2017">KGBV 2017</option>
    <option value="ssa-recruitment">SSA Recruitment</option>
    <option value="brc-crc-recruitment">BRC/option>
    <option value="starhospital-org">starhospital.org</option>
    <option value="startup-gujarat">Startup Gujarat</option>
    <option value="startup-gujarat-mobile-app">Startup Gujarat - Mobile App</option>
    <option value="state-exam-board-recruitment">State Exam Board Recruitment</option>
    <option value="atd-2017">ATD 2017</option>
    <option value="gcc-exam">GCC Exam</option>
    <option value="gcc-may-2017">GCC MAY 2017</option>
    <option value="intermediate-elementry-drawing-grade-exam-iedge">Intermediate Elementry Drawing Grade Exam (IEDGE)- October 2016</option>
    <option value="khatakiy">Khatakiy</option>
    <option value="khatakiy-class3">Khatakiy Class3</option>
    <option value="khatakiy-class3-may-2017">KHATAKIY CLASS3 MAY 2017</option>
    <option value="nmmse-bank-information-2017">NMMSE Bank Information-2017</option>
    <option value="ntse-nmmse">NTSE-NMMSE</option>
    <option value="ptc-appliedarts-drawingpainting-sculpture">PTC - AppliedArts,DrawingPainting,Sculpture</option>
    <option value="ptc-deled1-deled2-preptc">PTC - DELED1,DELED2,PREPTC</option>
    <option value="scholarship-exam-pse-sse">Scholarship Exam (PSE-SSE) -October 2016</option>
    <option value="seb-nmms-new">SEB NMMS Scholarship (Bank Information)</option>
    <option value="stitchman-inc">Stitchman Inc</option>
    <option value="stitchman-com">stitchman.com</option>
    <option value="student-startup-and-innovation-policy">student startup and innovation policy</option>
    <option value="studio-pixel">Studio Pixel</option>
    <option value="sun-food-beverages">Sun Food &amp; Beverages</option>
    <option value="super-bread">Super Bread</option>
    <option value="surface-concept">Surface Concept</option>
    <option value="sweet-nuts">Sweet Nuts</option>
    <option value="tamboli-in">tamboli.in</option>
    <option value="taqnia-store">Taqnia.store</option>
    <option value="tcgl-beacon-application">TCGL Beacon application</option>
    <option value="tcgl-mobile-application">TCGL Mobile Application</option>
    <option value="teacher-awards">Teacher Awards</option>
    <option value="teacher-recruitment-grantinent-www-gserb-org">Teacher Recruitment Grantinent (www.gserb.org)</option>
    <option value="team">Team (Wordpress)</option>
    <option value="team-management">Team Management</option>
    <option value="technical-development-2017-18">Technical Development 2017-18</option>
    <option value="adit-logservice">Adit.LogService</option>
    <option value="tender-work">Tender Work</option>
    <option value="texel-industries">Texel Industries</option>
    <option value="textqpon">TextQpon</option>
    <option value="the-corner-cafe">The Corner Cafe</option>
    <option value="imci">the institute of management consultants of india</option>
    <option value="transformer-india">Transformer India</option>
    <option value="transportation-www-ssagujarat-org">Transportation (www.ssagujarat.org)</option>
    <option value="transtech-press-products-pvt-ltd">Transtech Press Products Pvt Ltd</option>
    <option value="travel-art">Travel Art</option>
    <option value="travel-portal-nexus">Travel portal (Nexus)</option>
    <option value="tribal-recruitment">Tribal Recruitment</option>
    <option value="tirbal-recruitment-2017">Tribal Recruitment May-2017</option>
    <option value="trichyplus">Trichyplus</option>
    <option value="trigon">Trigon</option>
    <option value="udisha-knowledge-consortium-of-gujarat">UDISHA  Knowledge Consortium of Gujarat</option>
    <option value="undp-united-nations-development-programme">UNDP - United Nations Development Programme </option>
    <option value="goal-1">Goal-1</option>
    <option value="goal-13">Goal-13</option>
    <option value="goal-15">Goal-15</option>
    <option value="goal-2">Goal-2</option>
    <option value="goal-3">Goal-3</option>
    <option value="goal-4">Goal-4</option>
    <option value="goal-5">Goal-5</option>
    <option value="goal-6">Goal-6</option>
    <option value="goal-7">Goal-7</option>
    <option value="goal-8">Goal-8</option>
    <option value="sdgs">SDGS</option>
    <option value="united-institute-of-design">United Institute of Design</option>
    <option value="united-school-of-business">United School of Business</option>
    <option value="united-world-group">United World Group</option>
    <option value="united-world-school-of-law">United World School of Law</option>
    <option value="unitedworld-center-for-innovations-and-entrepreneurship-development">Unitedworld - Center for Innovations and Entrepreneurship Development  </option>
    <option value="universal-boiler">Universal Boiler</option>
    <option value="universal-medicap">Universal Medicap </option>
    <option value="v-world-india-enterprises">V World India Enterprises</option>
    <option value="vfirm">V-Firm</option>
    <option value="vaaanprasth-contact-inforamtion">Vaanprasth Contact inforamtion</option>
    <option value="www-vat-cheguj-org-vat-in-finance-dept">VAT ( VAT in Finance Dept.)</option>
    <option value="vbu-digitech-pvt-ltd">VBU Digitech Pvt Ltd</option>
    <option value="vedic">Vedic</option>
    <option value="vedic-fashion">Vedic Fashion</option>
    <option value="vgitm-web-service">vgitm ( web service )</option>
    <option value="vidyasahayak-recruitment">Vidyasahayak Recruitment</option>
    <option value="head-teacher-2017">Head Teacher Jan 2017</option>
    <option value="vidhyasahayak-recruitment-6-to-8-khas-bharti">Vidhyasahayak Recruitment 6 To 8 (Khas-bharti)</option>
    <option value="/option>
    <option value="vidyasahayak-head-teacher">Vidyasahayak Head Teacher</option>
    <option value="vidyasahayak-recruitment-2014-std-6-to-8">Vidyasahayak recruitment 2014 std. 6 to 8</option>
    <option value="vidyasahayak-recruitment-6-to-8-2015-general">Vidyasahayak recruitment 6 to 8 2015 (General)</option>
    <option value="vidyasahayakgujarat-1-to-5-mvc">VidyasahayakGujarat 1 To 5 - MVC</option>
    <option value="vijayagiletest">VijayAgileTest</option>
    <option value="vipro-retail-pharma">Vipro Retail Pharma</option>
    <option value="viprolifescience-e-commerce">Viprolifescience E-commerce</option>
    <option value="visafast">Visafast </option>
    <option value="vishwa-gujarat-142-hrs">Vishwa Gujarat (142 hrs)</option>
    <option value="vita-global-surgical">Vita Global Surgical</option>
    <option value="vitalebeverages-com">vitalebeverages.com</option>
    <option value="viva-energy-fertilizer">Viva Energy Fertilizer</option>
    <option value="vixion-portal">Vixion Portal</option>
    <option value="vrsl-co-in">vrsl.co.in</option>
    <option value="warranty-management-system">Warranty Management System (Windows Application)</option>
    <option value="website-development">Website Development</option>
    <option value="yatradham">Website revamping - Guj. Pavitra Yatradham Vikas Board</option>
    <option value="weighting-machine-management">Weighing Machine Management</option>
    <option value="windex-tours-and-travels">Windex Tours And Travels</option>
    <option value="wireframes-ba">Wireframes - BA</option>
    <option value="workload-mahiti-www-egyan-org-in">WorkLoad Mahiti (www.egyan.org.in)</option>
    <option value="www-bhagatentertainment-com">www.bhagatentertainment.com</option>
    <option value="www-brightemployment-com-au">www.brightemployment.com.au (Wordpress)</option>
    <option value="www-chaloholidayonline-com">www.chaloholidayonline.com</option>
    <option value="www-diet-n-slim-biz">www.diet-n-slim.biz</option>
    <option value="www-esignin-in">www.esignin.in</option>
    <option value="www-globaldropship-com-hk">www.globaldropship.com.hk</option>
    <option value="www-globalhospital-co-in">www.globalhospital.co.in</option>
    <option value="www-gpsc-gujarat-gov-in">www.gpsc.gujarat.gov.in</option>
    <option value="www-grids-co-in">www.grids.co.in</option>
    <option value="www-gunotsav-org">www.gunotsav.org</option>
    <option value="www-homeguards-gujarat-gov-in">www.homeguards.gujarat.gov.in</option>
    <option value="www-imd-gujarat-gov-in">www.imd-gujarat.gov.in</option>
    <option value="www-inductothermindia-com">www.Inductothermindia.com</option>
    <option value="www-kabhi-b-com">www.Kabhi-B.com</option>
    <option value="www-khyatirealities-com">www.khyatirealities.com</option>
    <option value="www-kldnutrition-com-djk-group">www.kldnutrition.com (DJK Group)</option>
    <option value="www-maaumiya-com">www.maaumiya.com</option>
    <option value="www-manidharconsultant-com">www.manidharconsultant.com</option>
    <option value="www-newschool-ptcgujarat-org">www.newschool.ptcgujarat.org</option>
    <option value="www-noxindia-com">www.noxindia.com</option>
    <option value="www-pyramid-engineers-com">www.pyramid-engineers.com</option>
    <option value="www-spjunagadh-gujarat-gov-in">www.spjunagadh.gujarat.gov.in</option>
    <option value="www-ssagujarat-org-main">www.ssagujarat.org (Main)</option>
    <option value="cwsn-child-with-special-need">CWSN(Child With Special Need)</option>
    <option value="www-universalboilers-in">www.universalboilers.in</option>
    <option value="www-vaanaprastharojad-org">www.vaanaprastharojad.org</option>
    <option value="www-vitaglobalhk-com">www.vitaglobalhk.com</option>
    <option value="www-vitatrackers-com">www.vitatrackers.com</option>
    <option value="www-vivaagro1-com">www.vivaagro1.com</option>
    <option value="xenex-consulting">XENEX Consulting</option>
    <option value="yashvi-printpack">Yashvi Printpack</option>
    <option value="yatradham-tour-shravan-tirth-darshan-yojana">Yatradham Tour- Shravan Tirth Darshan Yojana</option>
    <option value="ymca-club-revamping">YMCA Club (Revamping)</option>
    <option value="young-achievers-of-gujarat">Young Achievers of Gujarat</option>
    <option value="zenith-doctorhouse">Zenith Doctorhouse</option>
    <option value="zenith-logo-design">Zenith Logo Design</option>
    <option value="zydusquiz">ZydusQuiz</option>
</select>