@{
    ViewBag.Title = "ConfirmApplication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ConfirmApplication", ""))
{
    if (GSCDC.Web.Common.SessionHelper.CurrentUser != null)
    {
        long confNo =ViewBag.ConfNo;

        <div class="loader"></div>
        <h3 class="page-title col-sm-8" style="text-align:center">
            Confirm Application
        </h3>
        <div class="col-sm-2">
            @*@Html.ActionLink("Back", "GetSchoolCertificate", new { GYear = ViewBag.Gunotsav }, new { @class = "btn btn-danger" })*@
        </div>

        <div class="col-sm-12" id="divrptviewer">
            <iframe id="ifrmReportViewer" frameborder="0" class="col-sm-12" height="750px" onload="iframeLoaded(this)"></iframe>
        </div>
        <div class="col-sm-12 text-center">

            <button type="submit" name="command" value="Confirm" onclick="return confirm('Confirm કર્યા બાદ માહિતી બદલશે નહીં?');" class="btn btn-lg btn-green hvr-underline-from-center">Confirm Application</button>&nbsp; &nbsp;
            <a href="@Url.Action("Index", "Home")" name="" class="btn btn-lg btn-red hvr-underline-from-center">Cancel</a>
        </div>
        <script>
            $(document).ready(function () {

                var url = "http://localhost:56552/Reports/Report.aspx?ConfID=" + @confNo ;
                //var url = "http://adittest.com/gscdc/Reports/Report.aspx?ConfID=" + @confNo ;
                console.log(url);
                var myframe = document.getElementById("ifrmReportViewer");
                if (myframe !== null) {
                    if (myframe.src) {
                        myframe.src = url;
                    }
                    else if (myframe.contentWindow !== null && myframe.contentWindow.location !== null) {
                        myframe.contentWindow.location = url;
                    }
                    else { myframe.setAttribute('src', url); }
                }
            });
            function iframeLoaded(obj) {
                $('.loader').hide();

                //setTimeout(function () {
                //    obj.height = obj.contentWindow.document.body.scrollHeight;
                //    $(".page-content").height( obj.height);
                //}, 2000);
            }
        </script>
    }
}
