@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <div class="alert alert-success alert-dismissable sticky-alert" id="alert-div" style="margin:0 0 0 1%;z-index:9999999; width: 100%;bottom:35px;">

        <b>@TempData[GSCDC.Web.Controllers.AnimalHusbandryController.Temp_Success]</b><br />
        You have applied for  <span font-bold="true" forecolor="blue" style="font-family: Verdana;font-size:14px;font-weight:700;">Animal Husbandry</span>
        Your Confirmation Number is &nbsp;<span font-bold="true" forecolor="blue" style="font-family: Verdana;font-size:14px;font-weight:700;">@ViewBag.ConfNo</span>
        &nbsp; . Please Note this Confirmation Number for any changes in form.
    </div>
</p>
<div class="col-sm-12 text-center" style="padding-bottom:10px;">
    @*<a class="btn btn-warning btn-sm" href="@Url.Action("UploadPhoto","Home",new  { @p=@Server.UrlEncode(objCommon.EncryptString(Model.AppNo)),@a=@Server.UrlEncode(objCommon.EncryptString(Model.Jobid)) })">Upload Photo</a>*@
</div>
